Repository eifinger/pywaze: changes, and which pre-commit hooks are due for each by the changed paths.
All: codespell, mypy, yamllint, pytest

.pre-commit-config.yaml:

---
repos:
  - repo: builtin
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: fix-byte-order-marker
      - id: detect-private-key

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.4
    hooks:
      - id: ruff-format
        name: ‚òïÔ∏è Format using ruff
      - id: ruff
        name: ‚úÖ Lint using ruff
        args: [--fix, --exit-non-zero-on-fix]

  - repo: local
    hooks:
      - id: codespell
        name: ‚úÖ Check code for common misspellings
        language: system
        types: [text]
        exclude: |
          (?x)^(
              .lock|
              CHANGELOG.md
          )$
        entry: uv run codespell --ignore-words=.codespell
      - id: mypy
        name: üÜé Static type checking using mypy
        language: system
        types: [python]
        entry: uv run mypy
        require_serial: true
      - id: yamllint
        name: üéó  Check YAML files with yamllint
        language: system
        types: [yaml]
        entry: uv run yamllint
      - id: pytest
        name: üß™ Running tests and test coverage with pytest
        language: system
        types: [python]
        entry: uv run pytest
        pass_filenames: false

  - repo: https://github.com/koalaman/shellcheck-precommit
    rev: "v0.10.0"
    hooks:
      - id: shellcheck
        name: ‚úÖ Check Shell files

chore: update ruff to v0.9.4 and fix linting errors (#67)
  .pre-commit-config.yaml
  pyproject.toml
  src/pywaze/route_calculator.py
  uv.lock
Due: codespell, mypy, yamllint, pytest

Add configurable and inferred base coords for address resolution
  README.md
  src/pywaze/route_calculator.py
  tests/test_route_calculator.py
Due: codespell, mypy, pytest

Add configurable and inferred base coords for address resolution (#72)
  README.md
  src/pywaze/route_calculator.py
  tests/test_route_calculator.py
Due: codespell, mypy, pytest

Add chore as maintenance label
  .github/release-drafter.yml
Due: codespell, yamllint

Add chore as maintenance label (#74)
  .github/release-drafter.yml
Due: codespell, yamllint

fix: wrap invalid address lookup responses
  src/pywaze/route_calculator.py
  tests/test_route_calculator.py
Due: codespell, mypy, pytest

fix: wrap invalid address lookup responses (#105)
  src/pywaze/route_calculator.py
  tests/test_route_calculator.py
Due: codespell, mypy, pytest

fix: add package source and provenance metadata
  .github/workflows/release.yml
  pyproject.toml
Due: codespell, yamllint

fix: add package source and provenance metadata (#106)
  .github/workflows/release.yml
  pyproject.toml
Due: codespell, yamllint

fix: restore Waze address lookup and routing
  README.md
  pyproject.toml
  src/pywaze/route_calculator.py
  tests/conftest.py
  tests/const.py
  tests/test_live.py
  tests/test_route_calculator.py
  uv.lock
Due: codespell, mypy, pytest

fix: add fallback for Waze address lookup and routing (#108)
  README.md
  pyproject.toml
  src/pywaze/route_calculator.py
  tests/conftest.py
  tests/const.py
  tests/test_live.py
  tests/test_route_calculator.py
  uv.lock
Due: codespell, mypy, pytest

fix: respect HTTPX client ownership during cleanup
  README.md
  src/pywaze/route_calculator.py
  tests/test_route_calculator.py
Due: codespell, mypy, pytest

docs: shorten client cleanup guidance
  README.md
Due: codespell

fix: respect HTTPX client ownership during cleanup (#109)
  README.md
  src/pywaze/route_calculator.py
  tests/test_route_calculator.py
Due: codespell, mypy, pytest

fix: use fresh Chrome sessions for Waze fallback requests
  src/pywaze/route_calculator.py
  tests/conftest.py
  tests/test_route_calculator.py
Due: codespell, mypy, pytest

fix: use fresh Chrome sessions for Waze fallback requests (#111)
  src/pywaze/route_calculator.py
  tests/conftest.py
  tests/test_route_calculator.py
Due: codespell, mypy, pytest
